{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}

<div class="container">
    <h2>Bienvenue dans votre bibliothèque de poche !</h2>
    
    <div class="flex mt-4">
        <a class="btn" href="{{ path('app_book_index') }}">Voir mes livres</a>
        <a class="btn ml-4" href="{{ path('app_book_new') }}">Ajouter un livre</a>
    </div>
</div>
{% endblock %}
