{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/Users/lalyteissier/Documents/Ecole/Gobelins/DEV/2-Symfony/libraryCheck/src/Controller/AccountController.php</code></li>
        <li>Your template at <code>/Users/lalyteissier/Documents/Ecole/Gobelins/DEV/2-Symfony/libraryCheck/templates/account/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
