{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}

<div class="container">
    <h2>Bienvenue dans votre bibliothèque de poche !</h2>
    
    <div class="flex mt-4">
        <a class="bg-indigo-950 text-white p-4 rounded-lg" href="{{ path('app_books') }}">Voir mes livres</a>
        <a class="bg-indigo-950 text-white p-4 ml-4 rounded-lg" href="{{ path('app_books') }}">Ajouter un livre</a>
    </div>
</div>
{% endblock %}
