{% extends 'base.html.twig' %}

{% block title %}Edit BookCategory{% endblock %}

{% block body %}

<div  class="container">

    <h1>Modifier les catégories de livres</h1>

    {{ include('book_category/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="link" href="{{ path('app_book_category_index') }}">Retour à la liste</a>

    {{ include('book_category/_delete_form.html.twig') }}

</div>
{% endblock %}
