{% extends 'base.html.twig' %}

{% block title %}BookCollection{% endblock %}

{% block body %}
    <h1>Collection de livres :</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id : </th>
                <td>{{ book_collection.id }}</td>
            </tr>
            <tr>
                <th>Nom : </th>
                <td>{{ book_collection.name }}</td>
            </tr>
        </tbody>
    </table>

<div class="flex justify-between items-center">
    <a class="link" href="{{ path('app_book_collection_index') }}">Retour à la liste</a>
    <a class="link" href="{{ path('app_book_collection_edit', {'id': book_collection.id}) }}">Modifier</a>
</div>

{% endblock %}
