{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<style>

</style>

{% if app.user %}

<div class="container">
    <h2>{{ book.title }}</h2>
    <p>{{ book.description }}</p>
    <p>{{ book.author }}</p>
</div>

{% endif %}

{% endblock %}
