@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'kulderin';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Kulderin.otf');
}

@font-face {
    font-family: 'quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Quicksand-VariableFont_wght.ttf');
}

body {
    background-color: #f5e6ce;
    display: flex;
    flex-direction: column;
    align-items: center;

    div.container {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 30px;
        margin: 50px;
        max-width: 80%;
    }

    h1,
    h2 {
        text-align: center;
        font-size: 32px;
        font-family: 'kulderin';
        color: rgb(96, 64, 117);
    }

    .btn {
        background-color: rgb(96, 64, 117);
        color: #ffffff;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .link {
        font-weight: bold;
        text-align: center;
        color: rgb(96, 64, 117);

        &:hover {
            text-decoration: underline;
        }
    }

    p,
    a,
    input,
    tr,
    td,
    label,
    button {
        font-family: 'quicksand';
    }

    input {
        border: 1px solid rgb(96, 64, 117);
        border-radius: 0.7em;
        margin: 3px;
    }
}