@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f5e6ce;
    display: flex;
    flex-direction: column;
    align-items: center;

    div.container {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 30px;
        margin: 50px
    }

    h1,
    h2 {
        text-align: center;
        font-family: 'Roboto', serif;
    }
}