@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'kulderin';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Kulderin.otf');
}

@font-face {
    font-family: 'quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Quicksand-VariableFont_wght.ttf');
}

body {
    background-color: #f5e6ce;
    display: flex;
    flex-direction: column;
    align-items: center;

    div.container {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 30px;
        margin: 50px
    }

    h1,
    h2 {
        text-align: center;
        font-size: 32px;
        font-family: 'kulderin';
    }

    p,
    a,
    input,
    tr,
    td,
    label,
    button {
        font-family: 'quicksand';
    }
}